:root {
  --primary-color: rgba(21, 36, 124, 0.562);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
  display: flex;
  padding: 20px 10px 35px 35px;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
}

header h1 a:link,
header h1 a:visited{
    text-decoration: none;
    color: black;
    font-family: cursive;
    font-size: 35px;
}

header nav ul {
    display: flex;
    list-style: none;
    font-family: monospace;
    font-size: 22px;
}

nav li {
  margin-right: 20px;
}

header nav ul li a:hover {
  background-color: brown;
  color: rgb(13, 189, 142);
  border-radius: 25px;
  text-shadow: none;
  padding: 10px;
  font-weight: bold;
}

nav a:link,
nav a:visited {
    text-decoration: none;
    color: black;
}

section {
  text-align: center;
}

section h2 {
  padding: 20px;
  font-weight: bold;
  font-size: 50px;
  text-shadow: 1px 2px 8px black;
}

.headline {
    text-align: center;
    margin:auto;
    padding:50px;
    background-color: tomato;
    font-weight: bold;
    font-size: 25px;
    color: rgb(11, 66, 61);
    border-top: 7px solid;
}

.hero {
  padding: 50px 0;
  background-color: aqua;
  border-top: 7px solid;
}

.hero img {
  align-items: center;
  display: flex;
  margin: auto;
  width: 30%;
  border-radius: 10%;
}

.about {
  border-top: 5px solid;
  padding-bottom: 15px;
  background-color: var(--primary-color);
}

.aboutContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: greenyellow;
  font-size: 30px;
  border-top: 7px solid;
}

.introText {
  display: flex;
  padding: 20px;
  width: 40%;
  margin: 3.5%;
  box-shadow: 0 0 10px rgb(0 0 0 /40%);
  border-radius: 10px;
  border: 2.5px solid darkblue;
  margin-right: 170px;
}

.introImage {
  text-align: left;
  padding: 40px;
  width: 100%;
  margin-left: 170px;
}

.experience {
  background-color: burlywood;
  border-top: 7px solid;
}

.experience article {
  padding-bottom: 30px;
}

.work {
  border-top: 7px solid;
  padding-bottom: 75px;
  /* margin-bottom: 10px; */
}

.allMyProjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 70px;
  background-color: bisque;
  border-top: 7px solid;
  border-bottom: 7px solid;
}

.myWorkOne a img {
  width: 300px;
  height: 200px;
  border: 0.5px solid black;
  border-radius: 10%;
  margin-bottom: 20px;
  box-shadow: 2px 2px 8px black;

}
.myWorkTwo a img {
  width: 300px;
  height: 200px;
  border: 0.5px solid black;
  border-radius: 10%;
  box-shadow: 2px 2px 8px black;
}
.myWorkThree a img {
  width: 300px;
  height: 200px;
  border: 0.5px solid black;
  border-radius: 10%;
  box-shadow: 2px 2px 8px black;
}
.myWorkFour a img {
  width: 300px;
  height: 200px;
  border: 0.5px solid black;
  border-radius: 10%;
  box-shadow: 2px 2px 8px black;
}
.myWorkFive a img {
  margin-top: 15px;
  width: 300px;
  height: 200px;
  border: 0.5px solid black;
  border-radius: 10%;
  box-shadow: 2px 2px 8px black;
}
.myWorkSix a img {
  margin-top: 15px;
  width: 300px;
  height: 200px;
  border: 0.5px solid black;
  border-radius: 10%;
  box-shadow: 2px 2px 8px black;
}

.myWorkOneContent,
.myWorkTwoContent,
.myWorkThreeContent,
.myWorkFourContent,
.myworkFiveContent,
.myWorkSixContent {
  padding-bottom: 20px;
}

/* .aboutContainer h2,
.aboutContainer h3 {
  
} */


.sectionTitle {
  padding: 0;
  padding-bottom: 200px;
}

.sectionTitle h2,
.sectionTitle h3 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.contact {
  border-top: 7px solid;
  background-color: brown;
  padding-bottom: 30px;
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
  border-radius: 15px;
}

.contactName {
  background-color: rgba(255, 255, 255, 1);
}

.contactForm h3{
  font-size: x-large;
}

footer {
  display: flex;
  padding: 100px 35px;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 7px solid;
  background-color: rgb(17, 56, 8);
  color: blanchedalmond;
  font-size: 16px;
}

footer ul {
  display: flex;
  list-style: none;
}

.socialMedia {
  justify-content: space-between;
}

.socialMedia a:link,
.socialMedia a:visited{
  text-decoration: none;
  color: antiquewhite;
}

button {
  margin-top: 21px;
  width: 100px;
  height: 47px;
  font-family: 'Shippori Mincho';
  font-size: 18px;
  background-color: #141e55;
  color: white;
  border-radius: 23px;
}

/* @media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2, footer div {
    text-align: center;
    width: 100%;
  }

  .heroCta {
    width: 100%;
    text-align: center;
  }

  .heroCta {
    text-align: center;
  }

@media screen and (max-width: 768px) {
  section {
    padding-bottom: 30px 15px;
  }

  .myWorkOne img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  
}
@media screen and (max-width: 575px) {
  .intro p {
    width: 100%;
  }  */