:root {
    --primary-color: 
}




/* #submitButton {
    margin-top: 21px;
              width: 100px;
              height: 47px;
              font-family: 'Shippori Mincho';
              font-size: 18px;
              background-color: #141e55;
              color: white;
              border-radius: 23px;
} */