:root {
  --primary-color: rgba(21, 36, 124, 0.562);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
  display: flex;
  padding: 20px 35px;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
}

header h1 a:link,
header h1 a:visited{
    text-decoration: none;
    color: black;
    font-family: monospace;
    font-size: 35px;
}

header nav ul {
    display: flex;
    list-style: none;
    font-family: monospace;
    font-size: 22px;
}

nav li {
  margin-right: 20px;
}

nav a:link,
nav a:visited {
    text-decoration: none;
    color: black;
}

section {
  text-align: center;
}

section h2 {
  padding: 20px;
  font-weight: bold;
  font-size: 50px;
  text-shadow: 1px 2px 8px black;
}

.headline {
    text-align: center;
    margin:auto;
    padding:50px;
    background-color: tomato;
    font-weight: bold;
    font-size: 25px;
    color: rgb(11, 66, 61);
    border-top: 7px solid;
}

.hero {
  padding: 50px 0;
  background-color: aqua;
  border-top: 7px solid;
}

.hero img {
  align-items: center;
  display: flex;
  margin: auto;
  width: 30%;
  border-radius: 10%;
}

.about {
  border-top: 5px solid;
  padding-bottom: 15px;
  background-color: var(--primary-color);
}

.aboutContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color:
  font-size: 30px;
  border-top: 7px solid;
}

.introText {
  display: flex;
  padding: 20px;
  width: 40%;
  margin: 3.5%;
  box-shadow: 0 0 10px rgb(0 0 0 /40%);
  border-radius: 10px;
  border: 2.5px solid darkblue;
  margin-right: 170px;
}

.introImage {
  text-align: left;
  padding: 40px;
  width: 100%;
  margin-left: 170px;
}

.experience {
  background-color: burlywood;
  border-top: 7px solid;
}

.experience article {
  padding-bottom: 30px;
}

.work {
  border-top: 7px solid;
  padding-bottom: 75px;
}

.allMyProjects {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}

.sectionTitle {
  padding: 0;
  padding-bottom: 200px;
}

.sectionTitle h2,
.sectionTitle h3 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.contact {
  border-top: 7px solid;
  background-color: brown;
  padding-bottom: 30px;
}

footer {
  display: flex;
  padding: 100px 35px;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 7px solid;
  background-color: rgb(17, 56, 8);
  color: blanchedalmond;
  font-size: 16px;
}

footer ul {
  display: flex;
  list-style: none;
}

.socialMedia {
  justify-content: space-between;
}

.socialMedia a:link,
.socialMedia a:visited{
  text-decoration: none;
  color: antiquewhite;
}

button {
  margin-top: 21px;
  width: 100px;
  height: 47px;
  font-family: 'Shippori Mincho';
  font-size: 18px;
  background-color: #141e55;
  color: white;
  border-radius: 23px;
}
